/* CSS Custom Variables - Utility Class Replacement */
/* By using these classes, you can control the value for the property directly in the html. */
/* Please see the comment provided for each class for instruction on how to do so. */
/* Designated Class MUST be used along side the var declartion in the html. */

.ani--sh,
.ani--shorthand {
    // Set up animation shorthand.
    animation: var(--ani_name) var(--ani_speed) var(--ani_timing) var(--ani_delay) var(--ani_loop) var(--ani_dir) var(--ani_fill);
    // Set in html by using style="--ani_name: fade-in; --ani_speed: .25s; --ani_timing: ease-in; --ani_delay: .25s; --ani_loop: 1; --ani_dir: normal; --ani_fill: forwards;"
}

.ani__in--sh,
.ani__in--shorthand {
    animation: var(--ani_in-name) var(--ani_in-speed) var(--ani_in-timing) var(--ani_in-delay) var(--ani_in-loop) var(--ani_in-dir) var(--ani_in-fill);
}

.ani__out--sh,
.ani__out--shorthand {
    animation: var(--ani_out-name) var(--ani_out-speed) var(--ani_out-timing) var(--ani_out-delay) var(--ani_out-loop) var(--ani_out-dir) var(--ani_out-fill);
}
